<footer>
    <p>&copy;2025 Battle Binder</p>
    <div class="icons">
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-tiktok"></i>
    </div>
</footer>
</body>
</html>