<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Battle Binder</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/images/BB-Battle-BinderIcon.ico" type="image/x-icon">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <a href="/"><img src="/images/BB-Battle-Binder.png" alt="Battle Binder Logo"></a>
        <form action='/items'>
            <input type="text" placeholder="Search" name="query">
        </form>
        <nav>
            <a href="/items">Browse</a>
            <a href="/items/new">Sell</a>
            <%if(!user){ %>
                <a href='/users/new'>Sign Up</a>
                <a href='/users/login'>Login</a>
            <%} 
            else{%>
                <a href='/users/profile'>Account</a>
                <a href='/users/logout'>Logout</a>
            <%}%>
        </nav>
    </header>
    <div class = "content">
        <%if(errorMessages.length > 0){
            errorMessages.forEach(message => {%>
                    <div class="error"> <%= message %></div>
            <%})
        } %>
    
        <%if(successMessages.length > 0){
            successMessages.forEach(message => {%>
                    <div class="success"> <%= message %></div>
            <%})
        } %>