<%- include('./partials/header.ejs')%>
<main>
    <div class = "err">
            <h1><%= error.status%></h1> 
            <p><%= error.message%></p>
    </div>
</main>
<%- include('./partials/footer.ejs')%>