<%- include('./partials/header.ejs')%>
<main>
    <div class="index-container">
        <div class="overview">
            <h1>Battle Binder</h1>
            <p> Welcome to Battle Binder a TCG Marketplace where you can buy and sell 
                cards from all TCG's includeing: Pokemon, Magic The Gathering, and Yu-Gi-Oh!</p>
            <a href="/items">Start Browsing</a>
        </div>
        <h2 class="featCardsTitle"> Featured Cards: </h2>

        <!-- <%if(items.length){
            items.forEach(item =>{ %>
                <div class="featuredCards">
                    <img src="<%= item.image %>" alt="<%= item.title %>">
                </div>
            <%})
        }%> -->
    </div>
</main>
<%- include('./partials/footer.ejs')%>