<%- include('../partials/header.ejs')%>
<main>
    <div class="contianer">
    <div class="sell-container">
        <h1> Join Fellow Card Collectors!</h1>
        <p>Sign in to buy and sell cards from tcgs!</p>
    </div>
    <form action="/users/login" method="POST" class="newuser-form">
        <label for="email">Email</label><br>
        <input type="text" id="email" name="email"><br><br>
        <label for="password">Password</label><br>
        <input type="password" id="password" name="password"><br><br>
        <button>Login</button><br>
    </form>
    </div>
</main>
</div>
<%- include('../partials/footer.ejs')%>